{% extends 'tf/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<section id="login" class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Log In</h1>
            </div>
            <form id="login-form" method="post"
                  action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                    <tr>
                      <td>
                        <a href="/tf/register" class="btn btn-primary"> Register </a>
                      </td>
                      <td>
                        <input type="submit" value="Login"
                               class="btn btn-primary pull-right" />
                        <input type="hidden" name="next" value="/tf" />
                      </td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
  </section>
{% endblock content %}
