{% extends 'base.html' %}

{% block content%}

<section id="table_team" class="table-section">
  <div class="container-fluid" style="width:70%">
        <div class="row">
            <div class="col-lg-6" style="height: 500px">

<div id="6f28cf76-c9f7-420e-885c-9ce15f89238f" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("6f28cf76-c9f7-420e-885c-9ce15f89238f", [{"type": "scatter", "y": [1000, 984, 955, 943, 951, 974, 960, 952, 972, 989], "x": ["2016-08-03", "2016-08-04", "2016-08-05", "2016-08-08", "2016-08-09", "2016-08-10", "2016-08-11", "2016-08-12", "2016-08-15", "2016-08-16"]}], {}, {"linkText": "Export to plot.ly", "showLink": false})</script>

</div>
</div>
</div>
</section>

{% endblock %}
