{% extends 'base.html' %}

{% block content%}

<!-- Player league table -->

<section id="table_team" class="table-section">
  <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>TF Game History</h1>
            <table class="table table-striped ">
              <thead>
                <tr>
                    <th style="text-align:center;">#</th>
                    <th> Date </th>
                    <th> Match </th>
                </tr>
              </thead>

                {% for match in matches %}
                <tr>
                    <td style="text-align:center;font-weight: bold;"> {{forloop.counter}}</td>
                    <td> {{ match.played_date }} </td>
                    <td> {{ match }} </td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <div class="col-lg-6">
                <h1>Fifa Game History</h1>
            <table class="table table-striped ">
              <thead>
                <tr>
                    <th style="text-align:center;">#</th>
                    <th> Date </th>
                    <th> Match </th>
                </tr>
              </thead>

                {% for match in matches %}
                <tr>
                    <td style="text-align:center;font-weight: bold;"> {{forloop.counter}}</td>
                    <td> {{ match.played_date }} </td>
                    <td> {{ match }} </td>
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
    </div>
</section>

{% endblock %}
