{% extends 'base.html' %}

{% block content%}
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--
                <h1>The OC&C TF Portal</h1>
              -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2> TF Top 20 </h2>

                <p>
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                  </thead>
                    {% for player in tf_players_ordered %}
                    <tr>
                        <td style="text-align:center; font-weight: bold;"> {{forloop.counter}}</td>
                        <td> {{player.full_name}}</td>
                        <td> {{player.tf_player_elo}}</td>
                    </tr>
                    {% endfor %}
                </table>
                </p>
            </div>
            <div class="col-xs-6">
                <h2> FIFA Top 20 </h2>

                <p>
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                  </thead>
                    {% for player in fifa_players_ordered %}
                    <tr>
                        <td style="text-align:center; font-weight: bold;"> {{forloop.counter}}</td>
                        <td> {{player.full_name}}</td>
                        <td> {{player.fifa_player_elo}}</td>
                    </tr>
                    {% endfor %}
                </table>
                </p>
            </div>

            </div>
        </div>
    </div>
</section>

<div id="please_sign_in" class="modal fade" role="dialog">
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <p style="text-align:center">
                <br>
              Please sign in at the top of the page.
              <br><br>
            </p>
            </div>

        </div>
    </form>
</div>


{% endblock %}
