{% extends 'base.html' %}

{% block content%}
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--
                <h1>The OC&C TF Portal</h1>
              -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2> TF Top 20 </h2>

                <p>
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                  </thead>
                    {% for player in players %}
                    <tr>
                        <td style="text-align:center; font-weight: bold;"> {{forloop.counter}}</td>
                        <td> {{player.full_name}}</td>
                        <td> {{player.tf_player_elo}}</td>
                    </tr>
                    {% endfor %}
                </table>
                </p>
            </div>
            <div class="col-xs-6" id="recent_games">
                <div>
                    <h2> Recent Matches </h2>

                    <p>
                      <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th style="text-align:right;">Winner</th>
                            <th style="text-align:center;">vs</th>
                            <th style="text-align:left;">Loser</th>
                        </tr>
                      </thead>
                        {% for match in matches %}
                        <tr>
                            <td style="text-align:right;"> {{ match.get_winner|linebreaks }}</td>
                            <td style="text-align:center;"> {{ match.get_scores }}</td>
                            <td style="text-align:left;"> {{ match.get_loser|linebreaks }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </p>
                </div>
                <div style="text-align:center;">
                    <h3><br></h3>

                    <p>
                        {% if user.is_authenticated  %}
                        <p><a type="button" class="btn btn-info btn-lg tf_btn" href="enter_tf_match/">Enter result</a></p>
                        {% else %}
                          <button type="button" class="btn btn-info btn-lg tf_btn" data-toggle="modal" data-target="#please_sign_in">Enter result</button>
                        {% endif %}

                    </p>
                    <p>
                        {% if user.is_authenticated  %}
                          <p><a type="button" class="btn btn-info btn-lg tf_btn" href="enter_player/">Add player</a></p>
                        {% else %}
                          <button type="button" class="btn btn-info btn-lg tf_btn" data-toggle="modal" data-target="#please_sign_in">Add player</button>
                        {% endif %}

                    </p>
                    <p><a type="button" class="btn btn-info btn-lg tf_btn" href="mailto:ocandctf@gmail.com" target="_blank">Contact</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="please_sign_in" class="modal fade" role="dialog">
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <p style="text-align:center">
                <br>
              Please sign in at the top of the page.
              <br><br>
            </p>
            </div>

        </div>
    </form>
</div>


{% endblock %}
