{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OC&C TF Portal</title>

    <!-- Load CSS -->
    <link rel="stylesheet" href="{% static 'tf/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tf/css/tf.css' %}">

    <!-- jQuery -->
    <script src="{% static 'tf/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'tf/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'tf/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'tf/js/scrolling-nav.js' %}"></script>
{% autoescape on %}
    {{ modal_js |safe}}
    {% endautoescape %}


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">OC&C TF Portal</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#table_single">League Table (Single)</a>
                </li>
                <li>
                    <a class="page-scroll" href="#table_team">League Table (Team)</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rules">House Rules</a>
                </li>
                <li>
                    <a class="page-scroll" href="#faq">FAQ</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--
                <h1>The OC&C TF Portal</h1>
              -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2> Current Top 20 </h2>

                <p>
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th style="text-align:center;">Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Games</th>
                    </tr>
                  </thead>
                    {% for player in players|slice:":20" %}
                    <tr>
                        <td style="text-align:center;"> {{forloop.counter}}</td>
                        <td> {{player.full_name}}</td>
                        <td> {{player.player_elo}}</td>
                        <td> {{player.matches_played}}</td>
                    </tr>
                    {% endfor %}
                </table>
                </p>
            </div>
            <div class="col-xs-6" id="recent_games">
                <div>
                    <h2> Recent Matches </h2>

                    <p>
                      <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th style="text-align:right;">Winner</th>
                            <th style="text-align:center;">vs</th>
                            <th style="text-align:left;">Loser</th>
                        </tr>
                      </thead>
                        {% for match in matches %}
                        <tr>
                            <td> {{ match.played_date.date }}</td>
                            <td style="text-align:right;"> {{ match.get_winner|linebreaks }}</td>
                            <td style="text-align:center;"> {{ match.get_scores }}</td>
                            <td style="text-align:left;"> {{ match.get_loser|linebreaks }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </p>
                </div>
                <div style="text-align:center;">
                    <h3><br></h3>

                    <p>
                        <button type="button" class="btn btn-info btn tf_btn" data-toggle="modal"
                                data-target="#enter_match_dialog">Enter result
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-info btn-lg tf_btn" data-toggle="modal"
                                data-target="#enter_player_dialog">Add player
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-info btn-lg tf_btn tf_btnna"> Sign in</button>
                    </p>
                    <p><a type="button" class="btn btn-info btn-lg tf_btn" href="mailto:ocandctf@gmail.com" target="_blank">Contact</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Player league table -->
<section id="table_single" class="table-section">
    <div class="container centered_container">
        <div class="row">
            <div class="col-lg-12">
                <h1>League Table (Single Player)</h1>
            </div>
            <table class="table table-striped ">
              <thead>
                <tr>
                    <th style="text-align:center;">Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Games</th>
                    <th>Games won</th>
                </tr>
              </thead>
                {% for player in players %}
                <tr>
                    <td style="text-align:center;"> {{forloop.counter}}</td>
                    <td> {{player.full_name}}</td>
                    <td> {{player.player_elo}}</td>
                    <td> {{player.matches_played}}</td>
                    <td> {{player.matches_won}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

<!-- Player league table -->
<section id="table_team" class="table-section">
  <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>League Table (Team)</h1>
            </div>
            <table class="table table-striped ">
              <thead>
                <tr>
                    <th style="text-align:center;">Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Games</th>
                    <th>Games won</th>
                </tr>
              </thead>

                {% for team in teams %}
                <tr>
                    <td style="text-align:center;"> {{forloop.counter}}</td>
                    <td> {{team.player1}}, {{team.player2}}</td>
                    <td> {{team.team_elo}}</td>
                    <td> {{team.team_matches_played}}</td>
                    <td> {{team.team_matches_won}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

<!-- Rules -->
<section id="rules" class="rules-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>TF House Rules</h1>
            </div>
            <p> 5 goals win a game</p>
            <p> 2 games win a match (3 games win a match if both teams agree before the first game)</p>
            <p> Players are not allowed to switch positions during a game</p>
            <p>	Teams must switch sides after each game</p>
            <p>	No two games can be played using the same positions (i.e. between games at least one team's players must swap positions)</p>
            <p>	The losing team can decide if they want to switch positions before the next game starts</p>
            <p>	First drop in is decided by coin toss, subsequent drop ins are performed by the team who last conceded a goal</p>
            <p>	If the ball is out of play for any reason, it is dropped in by the team who did not touch the ball last </p>
        </div>
    </div>
</section>

<!-- FAQ -->
<section id="faq" class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>FAQ</h1>
            </div>
            <p> Question: How do I ask a question? </p>

            <p> Answer: Send an email to philipp.deutsch@occstrategy.com </p>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="enter_match_dialog" class="modal fade" role="dialog" id="match_modal">
    <form method="POST" class="post-form" name="add_match_button">{% csrf_token %}
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add match results</h4>
                </div>
                <div class="modal-body">
                    {{ match_form.non_field_errors }}
                    <table>
                        <tr>
                            <th>Team 1</th>
                            <th>Team 2</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="fieldWrapper">
                                    {{ match_form.team1_player1.errors }}
                                    {{ match_form.team1_player1.label_tag }}
                                    {{ match_form.team1_player1 }}
                                </div>
                            </td>
                            <td>
                                <div class="fieldWrapper">
                                    {{ match_form.team2_player1.errors }}
                                    {{ match_form.team2_player1.label_tag }}
                                    {{ match_form.team2_player1 }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fieldWrapper">
                                    {{ match_form.team1_player2.errors }}
                                    {{ match_form.team1_player2.label_tag }}
                                    {{ match_form.team1_player2 }}
                                </div>
                            </td>
                            <td>
                                <div class="fieldWrapper">
                                    {{ match_form.team2_player2.errors }}
                                    {{ match_form.team2_player2.label_tag }}
                                    {{ match_form.team2_player2 }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fieldWrapper">
                                    {{ match_form.team1_score.errors }}
                                    {{ match_form.team1_score.label_tag }}
                                    {{ match_form.team1_score }}
                                </div>
                            </td>
                            <td>
                                <div class="fieldWrapper">
                                    {{ match_form.team2_score.errors }}
                                    {{ match_form.team2_score.label_tag }}
                                    {{ match_form.team2_score }}
                                </div>
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<button type="submit" class="save btn btn-default">Save</button>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </form>
</div>


<div id="enter_player_dialog" class="modal fade" role="dialog">
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter player</h4>
                </div>
                <div class="modal-body">

                    {{ player_form.as_p }}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="save btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </form>
</div>

<div id="sign_in_dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter player</h4>
            </div>
            <div class="modal-body">
                <p>Please enter player name:</p>

                <form method="POST" class="post-form">{% csrf_token %}
                    {{ player_form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- jQuery -->
<script src="{% static 'tf/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'tf/js/bootstrap.min.js' %}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{% static 'tf/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'tf/js/scrolling-nav.js' %}"></script>

</body>
</html>
