{% extends 'base.html' %}

{% block content%}

<!-- Player league table -->
<section id="table_single" class="table-section">
    <div class="container centered_container">
        <div class="row">
            <div class="col-lg-6">
                <h1>TF League Table</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th style="text-align:center;">Rank</th>
                    <th>Name</th>
                    <th style="text-align:right">Score</th>
                </tr>
              </thead>
                {% for player in players %}
                <tr>
                    <td style="text-align:center;font-weight: bold;"> {{forloop.counter}}</td>
                    <td> {{player.full_name}}</td>
                    <td style="text-align:right"> {{player.tf_player_elo}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <div class="col-lg-6">
                <h1>Fifa League Table</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th style="text-align:center;">Rank</th>
                    <th>Name</th>
                    <th style="text-align:right">Score</th>
                </tr>
              </thead>
                {% for player in players %}
                <tr>
                    <td style="text-align:center;font-weight: bold;"> {{forloop.counter}}</td>
                    <td> {{player.full_name}}</td>
                    <td style="text-align:right"> {{player.tf_player_elo}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}
