{% extends 'base.html' %}

{% block content%}

<!-- Rules -->
<section id="rules" class="rules-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>TF House Rules</h1>
            </div>
            <p> 5 goals win a game</p>
            <p> 2 games win a match (3 games win a match if both teams agree before the first game)</p>
            <p> Players are not allowed to switch positions during a game</p>
            <p>	Teams must switch sides after each game</p>
            <p>	No two games can be played using the same positions (i.e. between games at least one team's players must swap positions)</p>
            <p>	The losing team can decide if they want to switch positions before the next game starts</p>
            <p>	First drop in is decided by coin toss, subsequent drop ins are performed by the team who last conceded a goal</p>
            <p>	If the ball is out of play for any reason, it is dropped in by the team who did not touch the ball last </p>
        </div>
    </div>
</section>

{% endblock %}
