{% extends 'tf/base.html' %}

{% block content%}

<!-- Player league table -->

<section id="table_team" class="table-section">
  <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>League Table (Team)</h1>
            </div>
            <table class="table table-striped ">
              <thead>
                <tr>
                    <th style="text-align:center;">Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Games</th>
                    <th>Games won</th>
                </tr>
              </thead>

                {% for team in teams %}
                <tr>
                    <td style="text-align:center;"> {{forloop.counter}}</td>
                    <td> {{team.player1}}, {{team.player2}}</td>
                    <td> {{team.team_elo}}</td>
                    <td> {{team.team_matches_played}}</td>
                    <td> {{team.team_matches_won}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

{% endblock %}
