.body{
  max-width: 960px
}

.tf_btn {
  background: #00539F;
  background-image: -webkit-linear-gradient(top, #00539F, #00539F);
  background-image: -moz-linear-gradient(top, #00539F, #00539F);
  background-image: -ms-linear-gradient(top, #00539F, #00539F);
  background-image: -o-linear-gradient(top, #00539F, #00539F);
  background-image: linear-gradient(to bottom, #00539F, #00539F);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 50%
}

.tf_btn:hover {
  background: #064166;
  background-image: -webkit-linear-gradient(top, #064166, #064166);
  background-image: -moz-linear-gradient(top, #064166, #064166);
  background-image: -ms-linear-gradient(top, #064166, #064166);
  background-image: -o-linear-gradient(top, #064166, #064166);
  background-image: linear-gradient(to bottom, #064166, #064166);
  text-decoration: none;
  color: white
}

.tf_btnna {
  background: #C0C0C0
}
.tf_btnna:hover {
  background: #C0C0C0
}
