{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="login_div" align="center">
<form class="login_form" method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username }}
    <table class="table" style="text-align:left">
      <br><br>

        <tr>
          <td style="color: white; text-align:left; width:33%">
            {{ form.email.label_tag }}
          </td>
          <td>
            {{ form.email }}
          </td>
          <td style="color: white; text-align:left; width:33%">
            {{ form.email.errors }}
          </td>
        </tr>
        <tr>
          <td style="color: white; text-align:left; width:33%">
            {{ form.password1.label_tag }}
          </td>
          <td>
            {{ form.password1 }}
          </td>
          <td style="color: white; text-align:left; width:33%">
            {{ form.password1.errors }}
          </td>
          <tr>
            <td style="color: white; text-align:left; width:33%">
              {{ form.password2.label_tag }}
            </td>
            <td>
              {{ form.password2 }}
            </td>
            <td style="color: white; text-align:left; width:33%">
              {{ form.password2.errors }}
            </td>
          </tr>
      </table>
    <input style="color:#000000" type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
