{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table class="table table-striped ">
      <tr>
        <td>
          {{ form.username.label_tag }}
        </td>
        <td>
          {{ form.username }}
        </td>
        <td>
          {{ form.username.errors }}
        </td>
      </tr>
        <tr>
          <td>
            {{ form.email.label_tag }}
          </td>
          <td>
            {{ form.email }}
          </td>
          <td>
            {{ form.email.errors }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.password1.label_tag }}
          </td>
          <td>
            {{ form.password1 }}
          </td>
          <td>
            {{ form.password1.errors }}
          </td>
          <tr>
            <td>
              {{ form.password2.label_tag }}
            </td>
            <td>
              {{ form.password2 }}
            </td>
            <td>
              {{ form.password2.errors }}
            </td>
          </tr>
        </tr>
      </table>
    <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
